.articles {
  padding-block-start: 5.5rem;
  padding-block-end: 5rem;
  padding-inline: 1.5rem;
  background-color: #fafafa;
}
.article-heading {
  margin-block-end: 1.9375rem;
  text-align: center;
  font: var(--heading2Base);
  color: var(--darkBlue);
  font-weight: 300;
}

.article-image {
  border-start-start-radius: 0.5rem;
  border-start-end-radius: 0.5rem;
  overflow: hidden;
}
.article-image img {
  inline-size: 100%;
  block-size: 12.5rem;
  object-fit: cover;
}
.article-description {
  margin-block-end: 1.5rem;
  padding-inline: 1.9375rem;
  padding-block: 1.5rem;
  background-color: var(--just-white);
}

.article h3 {
  color: var(--darkBlue);
  font: var(--heading4Base);
  font-weight: 300;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}
.article h3:hover {
  color: var(--limeGreen);
}

.article small {
  font-size: 0.8em;
}
.article p {
  font-size: 0.8em;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .articles-container {
    display: grid;
    gap: 1.875rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .articles-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
