@import './navigation.css';

.header {
  position: fixed;
  inset-inline: 0;
  inset-block-start: 0;
  background-color: var(--just-white);
  z-index: 10;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.375rem;
  padding-block: 1.375rem;
}
.header-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.header-button {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-logos {
    flex: 0;
  }
  .header-logos .icon-hamburger {
    display: none;
  }
  .header-button {
    display: block;
  }
}
